name: CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permissions for Gradle
        run: chmod +x gradlew

      - name: Build JAR with Gradle
        run: ./gradlew build

      - name: Build & Push Docker Image
        uses: mr-smithers-excellent/docker-build-push@v4
        with:
          image: cvd30/demo-app
          tag: latest
          registry: docker.io
          dockerfile: Dockerfile
          directory: .
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
