name: Java CI with Gradle and Docker

# Trigger on push to any branch
on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    # Checkout the repo
    - uses: actions/checkout@v4

    # Set up Java 11
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    # Setup Gradle and give wrapper execute permissions
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Make gradlew executable
      run: chmod +x gradlew

    # Build the project
    - name: Build with Gradle Wrapper
      run: ./gradlew clean build

    # Build and push Docker image
    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v4
      with:
        image: cvd30/demo-app
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        # Use branch name as Docker tag
        tags: ${{ github.ref_name }}


      

    
  
